#threads-overview-settings {
  margin-top: 22px;
  line-height: 36px;
  min-height: 36px;
  width: 90%;
  display: flex;
  align-items: center;
}
#regexp-filters label {
  margin-left: 3em;
}
@media (max-width: 1666px) {
  #regexp-filters label {
    margin-left: 16px;
  }
  #regexp-filters input {
    width: 100px;
  }
}
@media (max-width: 1439px) {
  #regexp-filters label {
    display: block;
  }
}
@media (max-width: 1124px) {
  #regexp-filters label {
    display: none;
  }
}

#matching-summary {
  width: 90%;
  min-height: 20px;
}

#thread-overview-legend {
  height: 32px;
  width: 90%;
  table-layout: fixed;
  text-align: center;
}

table {
  position: relative;
  width: 99%;
  padding-left: 4px;
  margin: 10px 0 4px;
  border-spacing: 2px;
  table-layout: fixed;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6B778C;
  cursor: pointer;
}
td.name {
  font-weight: 700;
  cursor: default;
}
td.empty {
  background: #FFF;
  cursor: default;
}
td.runnable {
  background: #ABF5D1;
}
td.blocked {
  background: #FFBDAD;
}
td.waiting {
  background: #EAE6FF;
}
td.timed-waiting {
  background: #FFFAE6;
}
td.unknown {
  background: #FFF;
}
td.matching {
  background: #B3D4FF;
}

td > span,
th > span {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s;
  border-radius: 3px;
  background-color: #172B4D;
  color: #fff;
  font-weight: bold;
  padding: 2px 7px 4px;
}
td:hover > span,
th:hover > span {
  display: block;
  visibility: visible;
  opacity: 1;
}
