.thread-details {
  width: 98%;
  height: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.stacktrace-window {
  width: 100%;
  height: 100%;
  color: #6B778C;
  padding: 5px;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  resize: none;
}
