#consumers-list {
  padding: 0;
  white-space: pre;
  list-style: none;
}
#consumers-list h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cpu-usage:hover {
  cursor: pointer;
  color: #172B4D;
  text-decoration: underline;
}
.high {
  color: #BF2600;
}
.mid {
  color: #403294;
}
.low {
  color: #008DA6;
}
.vlow {
  color: #006644;
}
