#dropzone {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dropzone h4 {
  width: 600px;
  height: 200px;
  line-height: 200px;
  text-align: center;

  background: #f4f5f7;
  border-radius: 5px;
  border: 2px dashed #0052CC;
}

#dropzone-links {
  padding: 0;
  margin: 0;
}
#dropzone-links li {
  padding: 4px;
  margin: 0 6px;
  display: inline-block;
}
